<template>
    <div class="pdw">
        <div class="list widget pd">
            <div class="header">
                Rating Leaderboard
            </div>
            <div class="headers">
                <div class="position">#</div>
                <div class="score">Score</div>
                <div class="content">Quote</div>

                <div class="rating">My Rating</div>
            </div>
            <transition-group tag="div" name="results">
                <div class="item" v-for="(item,index) in items" :key="item.quote_id"
                     @click="viewQuote(item.quote_id)">
                    <div class="position">
                        {{ index + 1 }}
                    </div>
                    <div class="score">
                        <span class="score-number">{{ (item.totals.average).toFixed(1) }}</span>
                        <span class="out-of">/ 5</span>
                        <div class="votes">{{ item.totals.votes }} vote<span v-if="item.totals.votes !== 1">s</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="quote">{{ $store.state.quotes[item.quote_id].quote }}</div>
                        <div class="author">{{ $store.state.quotes[item.quote_id].author }}</div>
                    </div>

                    <div class="rating">
                        <kp-rate style="font-size:0.7em;" :quote_id="item.quote_id" :hide_score="true"
                                 @refresh="fetch"></kp-rate>
                    </div>
                </div>
            </transition-group>
        </div>
    </div>
</template>

<script>
import KpRate from "../components/kp-rate";

export default {
  name: "Leaderboard",
  components: {KpRate},
  data() {
    return {
      items: [],
      interval: undefined,
    }
  },

  mounted() {
    this.fetch();

    // set up an interval to update the leaderboard periodically
    this.interval = setInterval(() => {
      this.fetch();
    }, 10000)
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  methods: {
    fetch() {
      this.$store.dispatch('getRatings')
        .then(res => {
          this.items = res;
        })
    },

    viewQuote(quoteId) {
      this.$router.push({path: `/quotes/${quoteId}`})
        .catch(() => {
          // error, usually occurs when navigating to a page we're already on
        })
    }
  }
}
</script>

<style scoped lang="scss">
.list {
    margin: auto;
    max-width: 1000px;
    transform: translateY(-5em);
    min-height: 15em;

    .header {
        text-align: center;
        font-weight: 600;
        color: $text-light;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .item, .headers {
        display: flex;
        margin-bottom: .5em;
        padding: 1em;
        cursor: pointer;
        border-radius: 1em;


        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        .position {
            //width: 10%;
            flex: 1;

            font-size: 2em;
        }

        .content {
            //width: 48%;
            flex: 4;

            .quote {
                height: 1em;
                overflow: hidden;
            }

            .author {
                font-weight: 600;
                margin-top: 0.3em;
                font-size: 0.9em;
            }
        }

        .score {
            //width: 12%;
            flex: 1.2;

            position: relative;

            .score-number {
                font-weight: 700;
            }

            .votes {
                font-weight: 600;
                margin-top: 0.3em;
                font-size: 0.9em;
            }

            .out-of {
                margin-left: 0.3em;
            }
        }

        .rating {
            //width: 30%;
            flex: 3.5;

            text-align: center;
            @media screen and (max-width: $max-width-small) {
                display: none;
            }
        }
    }

    .headers {
        align-items: center;
        margin-bottom: 0.5em;
        padding-bottom: 1em;
        color: $text-light;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0;
        pointer-events: none;

    }
}

.results-move {
    transition: transform 0.6s;
}
</style>