<template>
    <div class="main pdw">
        <div class="content width-container small ">
            <kp-transition :direction="direction">
                <router-view :key="$route.params.quote"></router-view>
            </kp-transition>
            <div class="buttons">
                <kp-button @click="previous" icon="step-backward">prev</kp-button>
                <kp-button @click="playSlideshow" v-if="!playing" icon="play">Play</kp-button>
                <kp-button @click="stopSlideshow" v-else icon="stop">Stop</kp-button>
                <kp-button @click="next" icon="step-forward">Next</kp-button>
                <div class="loading" v-if="playing" :key="$route.params.quote"
                     :style="{animationDuration:slideshowDuration + 's'}"></div>
            </div>
            <div class="order-buttons-container">
                <div class="label">Change sorting</div>
                <div class="order-buttons">
                    <kp-button @click="shuffle(true)" icon="random">Random</kp-button>
                    <kp-button @click="shuffleByRating" icon="star">Scores</kp-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// @ is an alias to /src
import KpButton from "@/components/kp-button";
import KpTransition from "@/components/kp-transition";

export default {
  name: 'Quotes',
  components: {KpTransition, KpButton},

  data() {
    return {
      direction: 'forward',

      interval: null,
      playing: false,
      slideshowDuration: 8,
    }
  },

  mounted() {
    // on initial load, trigger the shuffle
    this.shuffle();
  },

  beforeDestroy() {
    // clear interval if the component gets unloaded
    this.stopSlideshow()
  },

  beforeRouteUpdate(to, from, next) {

    // if the user manually navigated to the Quotes pages, shuffle quotes and force to load the first one
    if (!to.params.quote) {
      const previousId = (from.params.quote) ? parseInt(from.params.quote) : null;
      this.$store.dispatch('shuffleQuotes', {previous: previousId});
      this.direction = 'forward';
      next('/quotes/' + this.$store.state.quoteIdsShuffled[0])
    } else {
      next()
    }
  },

  methods: {
    shuffle(force = false) {

      // check if the user is refreshing the page while looking at a quote
      // pass that quote ID along to the Shuffle function if necessary
      const previousId = (this.$route.params.quote) ? parseInt(this.$route.params.quote) : null;
      this.$store.dispatch('shuffleQuotes', {previous: previousId});

      // if the user refreshed the page, clicked random or navigated incorrectly
      // load the first new entry in the Shuffled IDs array
      if (this.$route.query['force'] || previousId === null || force === true) {
        this.direction = 'forward';
        this.showQuote(this.$store.state.quoteIdsShuffled[0]);
        this.stopSlideshow()
      }
    },

    shuffleByRating() {
      this.stopSlideshow()
      this.direction = 'forward';
      this.$store.dispatch('shuffleQuotesByRating')
        .then(() => {
          this.showQuote(this.$store.state.quoteIdsShuffled[0])
        })
    },

    showQuote(quoteId) {
      this.$router.replace({path: '/quotes/' + quoteId})
        .catch(() => {
          // error, usually occurs when navigating to a page we're already on
        })
    },

    previous() {
      this.stopSlideshow()
      this.direction = 'back';

      this.$store.dispatch('getPrevious', {quoteId: this.$route.params.quote})
        .then(quoteId => {
          this.showQuote(quoteId);
        })
    },

    next(slideshow = false) {
      if (!slideshow) {
        this.stopSlideshow()
      }
      this.direction = 'forward';
      this.$store.dispatch('getNext', {quoteId: this.$route.params.quote})
        .then(quoteId => {
          this.showQuote(quoteId);
        })
    },

    playSlideshow() {
      clearInterval(this.interval);
      this.playing = true;
      this.interval = setInterval(() => {
        this.next(true)
      }, this.slideshowDuration * 1000)
    },

    stopSlideshow() {
      clearInterval(this.interval);
      this.playing = false;
    },
  }
}
</script>

<style lang="scss" scoped>
.main {
    .content {
        max-width: 800px;
        margin: -5em auto;
        //transform: translateY(-5em);
        position: relative;
        @media screen and (max-width: $max-width-small) {
            padding-bottom: 8em;
        }

        .buttons {
            transform: translate(-5%, -7em);
            display: flex;
            justify-content: space-between;
            background: $gradient;
            width: 110%;
            border-radius: 10em;
            position: relative;
            z-index: 5;
            overflow: hidden;

            @media screen and (max-width: $max-width-small) {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                width: auto;
                transform: none;
                z-index: 6;
                border-radius: 0;
                padding: 0.3em 0;
            }

            .loading {
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                top: 0;
                left: 0;
                right: 100%;
                bottom: 0;
                animation-name: fill;
                animation-fill-mode: forwards;
                animation-timing-function: linear;

                @keyframes fill {
                    to {
                        right: 0;
                    }
                }
            }

            .button {
                background: #fff;
                color: $primary;
                border-radius: 10em;
                height: 3em;
                margin: 1em;
                position: relative;
                z-index: 2;

                @media screen and (max-width: $max-width-small) {
                    font-size: 1em;
                }

                &:hover {
                    background: #eee;
                }
            }
        }

        .order-buttons-container {
            text-align: center;
            transform: translateY(-1.5em);
            position: relative;
            z-index: 5;

            @media screen and (max-width: $max-width-small) {
                transform: none;
                margin-top: 2em;
            }

            .label {
                font-weight: 700;
                margin-bottom: 1.2em;
                text-transform: uppercase;
                font-size: 0.9em;
            }

            .order-buttons {
                display: flex;
                justify-content: center;

                .button {
                    margin: 0 0.5em;
                }
            }
        }


    }
}


</style>
