<template>
    <div>
        <div class="quote pd widget" v-if="quote">
            <kp-rate :key="$route.params.quote"></kp-rate>
            <div class="quote-inner">
                <div class="content">
                    <div class="text">{{ quote.quote }}</div>
                </div>
                <div class="line"></div>
                <div class="author">
                    {{ quote.author }}
                </div>
                <div class="quote-icon top">
                    <awesome-icon icon="quote-left"/>
                </div>
                <div class="quote-icon bottom">
                    <awesome-icon icon="quote-right"/>
                </div>
            </div>
        </div>
        <div class="quote pd widget" v-else>
            <div class="quote-inner">
                <div class="content">
                    <div class="text"><span style="font-size:2em">404</span><br/>
                        Sorry, we can't find that quote right now!
                    </div>
                </div>
                <div class="line"></div>
                <div class="author">
                    Confused Developer
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import KpRate from "@/components/kp-rate";

export default {
  name: "Quote",
  components: {KpRate},

  computed: {
    quote() {
      // get the currently active quote from the store
      return this.$store.state.quotes[this.$route.params.quote]
    }
  },
}
</script>

<style scoped lang="scss">
.quote {
    background: #fff;
    text-align: center;
    padding-bottom: 9em;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: $max-width-small) {
        padding-bottom: 2em;
    }

    .quote-inner {
        min-height: 18em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1em 0;

        .content {
            font-size: 1.8em;
            line-height: 1.3em;
            color: $text;
            font-weight: 700;
            position: relative;
            z-index: 2;
        }

        .quote-icon {
            color: rgba(0, 0, 100, 0.05);
            font-size: 5rem;
            position: absolute;
            z-index: 1;

            &.top {
                top: -4rem;
                left: -1rem;
            }

            &.bottom {
                bottom: -1rem;
                right: -1rem;
            }
        }

        .line {
            height: 2px;
            max-width: 8em;
            width: 100%;
            background: $gradient;
            margin: 1.5em auto;
        }

        .author {
            font-size: 1.2em;
            font-weight: 800;
            color: $text-light;
        }

        .id {
            margin-top: 0.5em;
        }
    }
}
</style>