<template>
    <button class="button" @click.stop="$emit('click')" :class="{hasDefault}">
        <awesome-icon v-if="icon" class="icon" :icon="icon"></awesome-icon>
        <slot></slot>
    </button>
</template>

<script>
export default {
  name: "kp-button",
  props: {
    icon: {type: String}
  },
  computed: {
    hasDefault() {
      // check if the component has information filled between the html brackets (slot)
      // used to adjust the margins if they're an icon and text
      return !!this.$slots.default
    },
  }
}
</script>

<style scoped lang="scss">
.button {
    border: none;
    border-radius: 10em;
    padding: 1em 1.5em;
    box-shadow: $shading;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    background: $primary;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hasDefault .icon {
        margin-right: 1em;
    }

    &:hover {
        background: $primary-hover;
    }

    &:active {
        transform: translateY(1px);
    }
}
</style>