<template>
    <div class="header">
        <div class="search">
            <kp-search></kp-search>
        </div>
        <div class="navigation width-container pdw">
            <router-link to="/quotes">Quotes</router-link>
            <router-link to="/leaderboard">Leaderboard</router-link>
        </div>
    </div>
</template>

<script>
import KpSearch from "./kp-search";

export default {
  name: "kp-header",
  components: {KpSearch},
}
</script>

<style scoped lang="scss">
.header {
    height: 24rem;
    background: $gradient;

    @media screen and (max-width: $max-width-small) {
        height: 21rem;
    }

    .search {
        padding-top: 4rem;

        @media screen and (max-width: $max-width-small) {
            padding-top: 3rem;
        }
    }

    .navigation {
        display: flex;
        justify-content: center;
        padding-top: 4em;
        width: 40em;
        margin: auto;

        @media screen and (max-width: $max-width-small) {
            width: 100%;
            padding-top: 3em;
        }

        a {
            flex: 1;
            text-align: center;
            color: #fff;
            text-decoration: none;
            padding: 0.6em 1em;
            //margin: 0.5em;
            font-size: 1.4em;
            font-weight: 700;
            border: 2px solid transparent;
            box-sizing: border-box;
            border-radius: 0.5em;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 15px 4px rgba(255, 255, 255, 0.05);

            &.router-link-active {
                border: 2px solid rgba(255, 255, 255, 0.5);
            }

            &:hover {
                box-shadow: 1px 1px 15px 4px rgba(255, 255, 255, 0.2);
            }

            &:first-child {
                margin-right: 0.5em;
            }

            &:last-child {
                margin-left: 0.5em;
            }
        }
    }
}
</style>