<template>
    <div class="ratings-container">
        <div class="ratings">
            <div class="rating" v-for="rate in ratings"
                 :key="rate"
                 :class="{animate, active:rate === userRating, higher:rate < userRating}"
                 @click.stop="rateQuote(rate)">
                <awesome-icon icon="star"></awesome-icon>
            </div>
        </div>
        <div class="score-container" v-if="rating && !hide_score">
            <div class="label">Score</div>
            <div class="score"><span v-if="rating.totals.average !== null">
                {{ (rating.totals.average).toFixed(1) }}</span><span
                    v-else>-</span>
                <span class="out-of"> / 5.0</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "kp-rate",

  data() {
    return {
      ratings: 5,
      rating: null,
      userRating: null,
      animate: false,
    }
  },

  props: {
    quote_id: {},
    hide_score: {default: false,}
  },

  mounted() {
    this.getRating();
  },

  computed: {
    id() {
      // if we have passed in a quote_id, use this one.
      // otherwise use the quote_id from the page we're currently looking at.
      return (this.quote_id) ? this.quote_id : this.$route.params.quote;
    }
  },

  methods: {
    rateQuote(rating) {
      this.$store.dispatch('rateQuote', {rating, quoteId: this.id})
        .then(res => {
          this.animate = true;
          this.rating = res;
          this.userRating = (res['rating']) ? res['rating'] : null;

          // tell the parent page to force a reload of the data (used on the leaderboard page)
          this.$emit('refresh')
        })
    },
    getRating() {
      this.$store.dispatch('getRating', {quoteId: this.id})
        .then(res => {
          this.rating = res;
          this.userRating = (res['rating']) ? res['rating'] : null;
        })
    }
  }
}
</script>

<style scoped lang="scss">
.ratings-container {
    position: relative;
}

.ratings {
    display: flex;
    justify-content: center;

    .rating {
        padding: 0.5em 0.5em;
        color: #999;
        font-size: 1.5em;
        cursor: pointer;

        &:hover {
            color: #777;
        }

        &.active, &.higher {
            color: darkgoldenrod;
        }

        &.animate {
            transition: color .3s ease-in-out;
        }

        &.active {

            &.animate {
                animation: spin .6s ease-in-out;

                @keyframes spin {
                    to {
                        transform: rotate(360deg)
                    }
                }
            }
        }


        &:active {
            transform: scale(0.9)
        }
    }
}

.score-container {
    position: absolute;
    top: 0.5em;
    right: 0;
    width: 4em;

    .label {
        font-weight: 700;
        font-size: 0.6em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    .score {
        //margin: 0 0.5em 0 1.5em;
        font-size: 1.2em;
        position: relative;
        text-align: center;
        font-weight: 600;
    }

    .out-of {
        font-size: 0.6em;
        font-weight: 600;
    }
}
</style>