<template>
    <div class="results pdw">
        <div class="backdrop" @click="$emit('close')"></div>
        <div class="list widget pd">
            <div class="header">
                Search Results
            </div>
            <div class="headers">
                <div class="position">#</div>
                <div class="content">Quote</div>
                <div class="rating">My Rating</div>
            </div>
            <template v-if="items.length > 0">
                <div class="item" v-for="(item,index) in items" :key="item.id"
                     @click="$emit('view',item.item.id)">
                    <div class="position">
                        {{ index + 1 }}
                    </div>
                    <div class="content">
                        <div class="quote">{{ item.item.quote }}</div>
                        <div class="author">{{ item.item.author }}</div>
                    </div>
                    <div class="rating">
                        <kp-rate style="font-size:0.7em;" :quote_id="item.item.id" :hide_score="true"></kp-rate>
                    </div>
                </div>
            </template>
            <div class="no-results" v-else>
                No results found
            </div>
        </div>
    </div>
</template>

<script>

import KpRate from "./kp-rate";

export default {
  name: "kp-search-results",
  components: {KpRate},
  props: {items: {}},

  // result items are passed in from the parent Search component
}
</script>

<style scoped lang="scss">

.results {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;

}

.list {
    margin: 3em auto 0;
    max-width: 900px;
    box-sizing: border-box;
    min-height: 15em;
    z-index: 10;
    position: relative;
    animation: slideUp .3s ease-in-out forwards;

    @keyframes slideUp {
        from {
            transform: translateY(-3em);
        }
    }

    .header {
        text-align: center;
        font-weight: 600;
        color: $text-light;
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .item, .headers {
        display: flex;
        margin-bottom: .5em;
        padding: 1em;
        cursor: pointer;
        border-radius: 1em;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }

        .position {
            flex: 0.8;

            font-size: 2em;
        }

        .content {
            flex: 5;

            .quote {
                height: 1em;
                overflow: hidden;
            }

            .author {
                font-weight: 600;
                margin-top: 0.3em;
                font-size: 0.9em;
            }
        }

        .rating {
            flex: 2;
            text-align: center;

            @media screen and (max-width: $max-width-small) {
                display: none;
            }
        }
    }

    .headers {
        align-items: center;
        margin-bottom: 0.5em;
        padding-bottom: 1em;
        color: $text-light;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0;
        pointer-events: none;

    }
}

.no-results {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
</style>