<template>
    <div>
        <div class="search-bar width-container pdw" :class="{dirty:search.length > 0}">
            <div class="search-bar-inner">
                <div class="search-button search" @click="runSearch">
                    <awesome-icon class="icon" icon="search"/>
                    search
                </div>
                <input ref="search" v-model="search" placeholder="search quote or author ..." @input="searchChange"
                       @click="clickBar"/>
                <div class="search-button clear" v-show="search.length > 0" @click="clear">
                    <awesome-icon class="icon" icon="times"/>
                    clear
                </div>
            </div>
            <transition name="results">
                <kp-search-results v-if="searching === true" :items="results" @view="viewQuote"
                                   @close="searching = false"></kp-search-results>
            </transition>
        </div>
    </div>
</template>

<script>
import Fuse from "fuse.js";
import KpSearchResults from "./kp-search-results";

export default {
  name: "kp-search",
  components: {KpSearchResults},
  data() {
    return {
      search: '',
      results: [],
      fuse: undefined,
      searching: false,
      debounce: undefined,
      quotes: []
    }
  },

  mounted() {
    // instance the Fuse (Fuzzy Search) object and enter the quotes we have from the storage.
    this.quotes = Object.values(this.$store.state.quotes)
    this.fuse = new Fuse(this.quotes, this.getOptions())
  },

  methods: {

    runSearch() {
      this.results = this.fuse.search(this.search);
      // the search results are passed to the child SearchResult component
    },

    clear() {
      this.search = '';
      this.results = [];
      this.searching = false;
      this.$refs.search.focus();
    },

    getOptions() {
      // options applicable to the Fuse package
      return {
        shouldSort: true,
        threshold: 0.3,
        location: 0,
        distance: 1000,
        maxPatternLength: 32,
        minMatchCharLength: 2,
        keys: ['quote', 'author']
      };
    },

    searchChange() {

      // prevent the search from running on each key-stroke instantly, so debounce this action first
      clearTimeout(this.debounce)

      this.debounce = setTimeout(() => {
        this.runSearch();
        this.searching = true;
      }, 300)
    },

    clickBar() {
      if (this.search.length > 0) {
        this.searching = true;
      }
    },

    viewQuote(quoteId) {
      this.$router.push({path: `/quotes/${quoteId}`})
        .catch(() => {
          // error, usually occurs when navigating to a page we're already on
        })
      this.searching = false;
    },
  }
}
</script>

<style scoped lang="scss">
.search-bar {
    position: relative;

    .search-bar-inner {
        position: relative;
        z-index: 10;
    }

    input {
        width: 100%;
        font-size: 1.3em;
        padding: 0 9rem;
        border-radius: 100px;
        box-sizing: border-box;
        border: none;
        text-align: center;
        outline: none;
        background: $background;
        transition: background .15s ease-in-out;
        font-family: inherit;
        font-weight: 600;
        color: #444;
        height: 4rem;

        &:focus {
            box-shadow: 0 0 5px 8px rgba(0, 100, 50, 0.8);
            background: #fff;
        }

        &:hover {
            background: #fff;
        }
    }

    .search-button {
        position: absolute;
        top: 0.5rem;
        color: #fff;
        border-radius: 100em;
        font-size: 0.8em;
        //width: 3rem;
        height: 3rem;
        padding: 0 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
            margin-right: 0.8em;
        }

        &.search {
            left: 0.6rem;
            background: #204038;
            pointer-events: none;
        }

        &.clear {
            right: 0.6rem;
            background: #224455;
        }
    }

    &.dirty {
        .search {
            pointer-events: initial;
        }
    }
}

.results-enter-active,
.results-leave-active {
    position: absolute;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.results-enter,
.results-leave-to {
    opacity: 0;
}
</style>