<template>
    <transition :enter-class="`page-transition-enter ${type} ${direction}`"
                :enter-active-class="`page-transition-enter-active ${type} ${direction}`"
                :enter-to-class="`page-transition-enter-to ${type} ${direction}`"

                :leave-class="`page-transition-leave ${type} ${direction}`"
                :leave-active-class="`page-transition-leave-active ${type} ${direction}`"
                :leave-to-class="`page-transition-leave-to ${type} ${direction}`">
        <slot></slot>
    </transition>
</template>

<script>
export default {
  name: "kp-transition",

  props: {
    type: {default: 'swipe'},
    direction: {default: 'forward'},
  }
}
</script>

<style scoped lang="scss">

.page-transition-enter-active, .page-transition-leave-active {
    transition: all 0.6s ease-in-out;
    box-sizing: border-box;

    &.fade {
        transition-duration: 0.3s;
    }
}

.page-transition-enter-active {
    position: relative;
    z-index: 2;
}

.page-transition-leave-active {
    position: absolute;
    z-index: 1;
}

.page-transition-enter {

    &.fade {
        opacity: 0;
    }

    &.swipe {
        opacity: 0;

        &.forward {
            transform: translateX(80%);

            @media screen and (max-width: $max-width-small) {
                transform: none;
            }
        }

        &.back {
            transform: translateX(-80%);

            @media screen and (max-width: $max-width-small) {
                transform: none;
            }
        }
    }

}

.page-transition-leave-to {

    &.fade {
        opacity: 0;
    }

    &.swipe {
        opacity: 0;

        &.forward {
            transform: translateX(-50%) scale(0.8);

            @media screen and (max-width: $max-width-small) {
                transform: none;
            }
        }

        &.back {
            transform: translateX(50%) scale(0.8);

            @media screen and (max-width: $max-width-small) {
                transform: none;
            }
        }
    }

}
</style>