html {
    min-height: 100%;
    height: 100%;
    background: $background;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: $text;

    @media screen and (max-width: $max-width-small) {
        font-size: 0.7em;
    }

    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    height: 100%;

}

a {
    text-decoration: underline;
    color: inherit;
    font-weight: 600;
}

.width-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;

    &.small {
        max-width: 900px;
    }
}

.pd {
    padding: 1.5rem 2.5rem;
    box-sizing: border-box;

    @media screen and (max-width: $max-width-small) {
        padding: 1.2rem 2rem;
    }
}

.pdw {
    padding-left: 2.5em;
    padding-right: 2.5em;
    box-sizing: border-box;

    @media screen and (max-width: $max-width-small) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.mg {
    margin: 1.5rem 2.5rem;

    @media screen and (max-width: $max-width-small) {
        margin: 1.2rem 2rem;
    }
}

.widget {
    box-shadow: $shading;
    background: $background-element;
    border-radius: 1em;
}