// Automatically loaded by Webpack

$background: #eaeaea;
$background-element: #fff;

$gradient: linear-gradient(135deg, #1b5037, #253e68);

$text: #3f5061;
$text-light: #536778;

$primary: #1d4f38;
$primary-hover: #174732;

$easing: cubic-bezier(0.17, 0.57, 0.38, 0.95);

$shading: 1px 2px 3px 2px rgba(100, 100, 100, 0.10);
$shading-strong: 2px 2px 15px 1px rgba(100, 100, 100, 0.4);

$transition-duration: .25s;
$transition-duration-long: 0.5s;

$max-width-small: 800px;