<template>
    <div id="app">
        <kp-header v-if="ready"></kp-header>
        <kp-transition type="fade">
            <router-view style="width:100%;" v-if="ready"/>
        </kp-transition>
    </div>
</template>

<script>

import KpHeader from "./components/kp-header";
import KpTransition from "./components/kp-transition";

export default {
  components: {KpTransition, KpHeader},
  data() {
    return {
      ready: false,
    }
  },
  mounted() {

    // on initial refresh of the page, set the Force Shuffle parameters
    if (this.$route.meta.name === 'quote') {
      this.$router.replace({query: {force: 1}})
    }

    // set up a simple identifier (UUID) for each new user
    // Then fetch the quotes through the store
    this.$store.dispatch('setUserIdentifier')
      .then(() => {
        return this.$store.dispatch('getQuotes')
      })
      .then(() => {
        // once everything is done, load the interface
        this.ready = true;
      })
  }
}

</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@import '@/design/_reset';
@import '@/design/_globals';

#app {

}
</style>
